:root {
    --main-bg-color: #2874f0;
  }

*{
    padding: 0;
    margin: 0;
}
header{
    background: var(--main-bg-color); 
    font-family: 'Lato', sans-serif;
}
.logo{
    display: flex;
    align-items: center;
    color: white;
}
.logo svg{
    padding: 40px 10px 40px 200px;
}
.logo h1{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 36px;
}
main{
    min-height: calc(100vh - 146px - 8vh);
}
.container {
    width: 60%;
    margin: auto;
    text-align: center;
}
.container > .cont-top{
    margin: 50px 15% 0px 15%;
}

.container > .inp-out-cont{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    padding: 10px 15% 50px 15%;
    grid-gap: 2%;
    height: 300px;
}

.inp-out-cont > textarea{
    padding: 20px;
}

#btn-translate{
    padding: 3px 6px;
    border-radius: 3px;
    background: var(--main-bg-color);
    color: white;
}

footer{
    height: 8vh;
    background-color: var(--main-bg-color); 
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    align-items: center;
}
.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}